@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background: white;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}
.center {
  text-align: center;
}
.container {
  margin: 0 auto;
  width: 750px;
  background: #444753;
  border-radius: 5px; 
}
#peopleList, #messageList {
  list-style: none;
}
.people-list {
  width: 260px;
  float: left;
}
.people-list {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6a6c75;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  height: 770px;
}
.people-list ul li {
  padding-bottom: 20px;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959e;
}
.chat {
  width: 490px;
  float: left;
  background: gray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 1px solid #444753;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 25px;
}
.chat .chat-header .chat-num-messages {
  color: gray;
}
.chat .chat-header .fa-star {
  float: right;
  color: gray;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 1px solid #444753;
  overflow-y: scroll;
  height: 575px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86bb71;
}
.chat .chat-history .other-message {
  background: #94c2ed;
}
.chat .chat-history .personal {
  background: #e38968;
}
.chat .chat-history .personalAjax {
  background: #e38968;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94c2ed;
  left: 93%;
}
.chat .chat-history .personal:after {
  border-bottom-color: #e38968;
}
.chat .chat-history .personalAjax:after {
  border-bottom-color: #e38968;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message #sendButton {
  float: right;
  color: #94c2ed;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: gray;
}
.chat .chat-message #sendButton:hover {
  color: #75b1e8;
}
.online, .offline, .just-appeared, .just-left, .me {
  margin-right: 3px;
  font-size: 10px;
}
.just-appeared {
  color: #2dd1ff;
}
.just-left {
  color: #ffe738;
}
.online {
  color: #86bb71;
}
.offline {
  color: #e38968;
}
.me {
  color: #94c2ed;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.float-right {
  float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}
.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  color: #fff;
}
.login-container {
  background: #ebebeb;
  padding: 12px;
}
.login p {
  padding: 12px;
}
.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}
.login input[type="text"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}
.login input[type="text"]:focus {
  border-color: #888;
}
.login input[type="button"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}
.login input[type="button"]:hover {
  background: #17c;
}
.login input[type="button"]:focus {
  border-color: #05a;
}
#down {
  float: right;
  font-size: 15px;
  text-align: center;
  z-index: 99;
  margin-bottom: 5px;
  border: 0;
  background-color: #444753;
  color: gray;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
#down:hover {
  color: white;
}
#user {
  font-size: 20px;
}
#nicknameIfno {
  font-size: 15px;
  color: gray;
}